<div class="container d-flex justify-content-center p-5 no-copy">
    <div class="card text-center p-2" style="width: 18rem;">
        <h5 class="card-title bg-light"><u><%= pt %></u></h5>
        <img src="<%= ps %>" class="card-img-top shadow-lg p-1 bg-dark rounded-circle" alt="<%= pa %>" draggable="false">
        <div class="card-body">
            <h5 class="card-title"><%= ct %> &middot; <%= cn %></h5>
            <a href="#!" class="btn btn-primary disabled"><%= cp %></a>
        </div>
    </div>
</div>